* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main_box {
  background-image: url("photomini.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.sidebar_menu {
  position: fixed;
  left: -250px;   
  height: 100vh;
  width: 250px;
  background: rgba(25, 25, 25, 0.232);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}

.btn_one {
  left: 10px;
  top: 20px;
  position: relative;
  font-size: 25px;
  color: white;
  transition: all 0.4s ease;
}

.sidebar_menu .logo {
    position: relative;
  top: 20px;
  text-align: center;
}

.sidebar_menu .logo a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.sidebar_menu .btn_two {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.sidebar_menu .menu {
  margin-top: 60px;
}

.sidebar_menu .menu ul li {
  list-style: none;
  padding: 15px 20px;
  

}

.sidebar_menu .menu ul li i {
  margin-right: 10px;
  color: whitesmoke;
}

.sidebar_menu .menu ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.sidebar_menu .menu ul li a:hover {
  color: #00aced;
   
}
.sidebar_menu .menu ul li:hover{
  border: solid rgb(150, 60, 60);
}

.sidebar_menu .social_media {
  position: absolute;
  bottom: 30px;
  left: 60px;
}

.sidebar_menu .social_media a {
  margin-right: 15px;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar_menu .social_media a i:hover {
  color: #00aced;
transform: scale(1.5);  transition: 0.1s;
}
#check {
  display: none;
}

#check:checked ~ .sidebar_menu {
  left: 0;
}
#check:checked ~ .btn_one{
  display: none;
}
.sidebar_menu .btn_two:hover{
  color: red;
  transform: scale(1.5);
   transition: 0.1s;
}