.contenar{
    border: 2px solid;
    height: 350px;
    width: 200px;
    background-color: black;
}
.red{
height: 100px;
width: 100px;
border:2px solid;
background-color: red;
border-radius: 50%;
margin-top: 10px;
}
.yellow{
height: 100px;
width: 100px;
border:2px solid;
background-color: yellow;
border-radius: 50%;
margin-top: 10px;
}
.green{
height: 100px;
width: 100px;
border:2px solid;
background-color: green;
border-radius: 50%;
margin-top: 10px;
}
*{
    text-align: center;
    margin: auto;
}